.topicNew {
   overflow: hidden;
   text-overflow: ellipsis;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
   word-wrap: break-word;
   max-height: 60px;
}


.descriptionNew {
   overflow: hidden;
   text-overflow: ellipsis;
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
   word-wrap: break-word;
   max-height: 90px;
}


.descriptionNewtop {
   overflow: hidden;
   text-overflow: ellipsis;
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
   word-wrap: break-word;
   max-height: 80px;
}
