*{
  transition:0.4s ease all;
  box-sizing:border-box;
}

.productdes{
  color: #8e8d8d;
}

.background.image{
  background-size:cover;
}

.section{
  position:relative;
}

.section img.main-photo{
  width:500px;
  opacity:0;
  visibility:hidden;
  position:absolute;
  top:0;
}

.section img.main-photo.active{
  opacity:1;
  visibility:visible;
}

.section .sub img{
  opacity:0.5;
  width:125px;
}

.section .sub img:hover{
  opacity:1;
}

.section .inline{
  display:inline-block;
  vertical-align:top;
}

.section .photos .small-photos{
  margin-top:500px;
  display:flex;
  margin-bottom:10px;
}

.header-right ul {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 11px;
    right: 23%;
}
.header-right ul li {
    list-style: none;
    display: inline-block;
    margin: 0 3px;
}
.header-right ul li a span {
    background: url(../images/social.png) no-repeat;
    width: 16px;
    height: 16px;
    display: block;
}
/*.header-right ul li a span:hover,.about-two ul li a span:hover{
    transform: rotatey(360deg);
    -webkit-transform: rotatey(360deg);
    -moz-transform: rotatey(360deg);
    -o-transform: rotatey(360deg);
    -ms-transform: rotatey(360deg);
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}*/
@-webkit-keyframes rotating {
    from{
      transform: rotatey(0deg);
      -webkit-transform: rotatey(0deg);
      -moz-transform: rotatey(0deg);
      -o-transform: rotatey(0deg);
      -ms-transform: rotatey(0deg);
    }
    to{
      transform: rotatey(360deg);
      -webkit-transform: rotatey(360deg);
      -moz-transform: rotatey(360deg);
      -o-transform: rotatey(360deg);
      -ms-transform: rotatey(360deg);

    }
}

.rotating:hover {
    -webkit-animation: rotating 1s linear infinite;
}


.header-right ul li a span.fb{
	background-position:0px 0px;
}
.header-right ul li a span.twit{
	background-position:-16px 0px;
}


.about-two img{
	width:100%;
  height: 417;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}
.about-two p{
	font-size:14px;
	font-family: 'Raleway-Regular';
	color:#999;
	line-height:1.8em;

}
.about-two p a{
	color:#190608;
}
.about-two p a:hover{
	color:#999;
}
.about-two ul{
	padding:0;

}
.about-two ul li{
	list-style:none;
	display:inline-block;
}
.about-two ul li p{
	color:#999;
	font-size:17px;
}
.about-two ul li a span{
	background:url(../img/news/social.png) no-repeat;
	width:16px;
	height:16px;
	display:block;
	margin: 0 4px;
}
.about-two ul li a span.fb{
	background-position:0px 0px;
}
.about-two ul li a span.twit{
	background-position:-16px 0px;
}

.comment form input[type="submit"] {
	background: #190608;
	font-family: 'Raleway-Regular';
	padding: 8px 1em;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	display: block;

	border: none;
	margin-top: 3%;
	width: 33%;
	float: left;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}
