<!DOCTYPE html>
<html>{% load crispy_forms_tags %}

<head>
    <link rel="stylesheet" href="../../static/assets/css/animate.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog - Sas Sneakers Shoes</title>
    <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/assets/css/googlecss.css">
    <link rel="stylesheet" href="../../static/assets/css/untitled.css">   <!-- max weight -->
    <link rel="stylesheet" href="../../static/assets/css/catalog.css">
	<link rel="stylesheet" href="../../static/assets/css/styles.css">
	<link rel="stylesheet" href="../../static/assets/css/profilestyle.css">
	<script type='text/javascript' src='../../static/assets/js/jqueryasd.js'></script>

</head>

<body>
{% if request.user.is_authenticated %}
    {% include 'navbarlogin.html' %}
    {% block navbarlogin %}
    {% endblock %}
{% else %}
    {% include 'navbarlogout.html' %}
    {% block navbarlogout %}
    {% endblock %}
{% endif %}

{% if request.user.is_authenticated %}
{% if legit %}
<div class="container" style="padding-top:80px;">

	<div class="row editcontainer">
		<form method="post"> {% csrf_token %}
			<div id="effect-6" class="effects clearfix col-md-7 col-md-offset-0 col-sm-offset-0">
					<div class="imgProfile">
						<img src="../../../static/assets/img/logo.png" alt="">
						<div class="overlay">
							<a href="#" class="expand">+</a>
						</div>
					</div>
					<h3 style="padding-top:5px;">Hover Img to upload your profile picture</h3>
			</div> <!--edit path img in database -->
			<div class="col-lg-offset-0 col-md-5 col-md-offset-1">
				<input type="hidden" name="next" value="{{ request.path }}">
				<div class="row form-group" id="div_id_username">
					<h3>USERNAME</h3>
					<input type="text" name="username" id="id_username" class="form-control" value="{{user}}" disabled="true">
				</div>
				<div class="row form-group" >
					<div class="col-md-6" style="padding-left:0px;" id="div_id_first_name">
						<h3>FIRSTNAME</h3>
						<input type="text" name="first_name" id="id_first_name" class="form-control" value="{{ users.user.first_name }}" disabled="true">
					</div>
					<div class="col-md-6" style="padding-right:0px;" id="div_id_last_name">
						<h3>LASTNAME</h3>
						<input type="text" name="last_name" id="id_last_name" class="form-control" value="{{ users.user.last_name }}" disabled="true">
					</div>
				</div>
				<div class="row form-group" id="div_id_address">
					<h3>ADDRESS</h3>
					<textarea rows="4" cols="50" name="address" id="id_address" class="form-control" disabled="true">{{ users.address }}</textarea> <!--edit path address in database -->
				</div>
				<div class="row form-group" id="div_id_email">
					<h3>EMAIL</h3>
					<input type="text" name="email" id="id_email" class="form-control" value="{{ users.user.email }}" disabled="true">
				</div>
				<div class="row form-group" >
					<h3>PHONE</h3>
					<input type="text" name="phone" id="id_phone" class="form-control" value="{{users.phone}}" disabled="true"> <!--edit path phone in database -->
				</div>
        {% for i in order %}
            <a href="/history/{{i.order_ID}}">{{i.order_ID}}</a><br>
            <iframe src="/history/{{i.order_ID}}" width="400" height="100"></iframe><br>
        {% endfor %}

				<div class="row form-group" style="text-align:right; padding-top: 10px;">
					<button class="btn btn_edit" type="button" id="edit" onclick="editProfile()" style="border-radius: 12px;"><span>Edit Profile</span></button>
					<div class="btn-group form-group"  >
						<button class="btn	btn_save" type="submit" id="save" style="border-top-left-radius:12px; border-bottom-left-radius:12px; display: none;" ><span>Save</span></button>
						<button class="btn btn_cancle" type="button" id="cancle" onclick="window.location.reload()" style="border-top-right-radius:12px; border-bottom-right-radius:12px; display: none;" ><span>Cancle</span></button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
	{% else %}
		<script>
			window.location.href = '../../account/{{user}}';
		</script>
  {% endif %}
  {% endif %}


	{% include 'footer.html' %}
    {% block footer %}
    {% endblock %}

</body>

<script type="text/javascript">
      function editProfile()
      {


		$("#id_first_name").prop( "disabled", false );
		$("#id_last_name").prop( "disabled", false );
		$("#id_address").prop( "disabled", false );
		$("#id_email").prop( "disabled", false );
		$("#id_phone").prop( "disabled", false );

		$("#save").show();
		$("#cancle").show();
		$("#edit").hide();

      }
</script>
<script src="../../static/assets/js/modernizr.js"></script>

<script>
    $(document).ready(function(){
        if (Modernizr.touch) {
            // show the close overlay button
            $(".close-overlay").removeClass("hidden");
            // handle the adding of hover class when clicked
            $(".imgProfile").click(function(e){
                if (!$(this).hasClass("hover")) {
                    $(this).addClass("hover");
                }
            });
            // handle the closing of the overlay
            $(".close-overlay").click(function(e){
                e.preventDefault();
                e.stopPropagation();
                if ($(this).closest(".imgProfile").hasClass("hover")) {
                    $(this).closest(".imgProfile").removeClass("hover");
                }
            });
        } else {
            // handle the mouseenter functionality
            $(".imgProfile").mouseenter(function(){
                $(this).addClass("hover");
            })
            // handle the mouseleave functionality
            .mouseleave(function(){
                $(this).removeClass("hover");
            });
        }
    });
</script>


</html>
