
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sas sneakers shoes - Product</title>
    <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="../../static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/assets/css/untitled.css">
    <link rel="stylesheet" href="../../static/assets/css/catalog.css">
    <link rel="stylesheet" href="../../static/assets/css/productImg.css">
    <link rel="stylesheet" href="../../static/assets/css/untitled-1.css">
    <link rel="stylesheet" href="../../static/assets/css/Pretty-Footer.css">
    <link rel="stylesheet" href="../../static/assets/css/styles.css">
    <link rel="stylesheet" href="../../static/assets/css/untitled-2.css">
</head>

<body>
{% if login %}
    {% include 'navbarlogin.html' %}
    {% block navbarlogin %}
    {% endblock %}
{% else %}
    {% include 'navbarlogout.html' %}
    {% block navbarlogout %}
    {% endblock %}
{% endif %}

    <ol class="breadcrumb">
        <li><a href="#"><span>Catalog</span></a></li>
        <li><a href="#"><span>{{number.gender}}</span></a></li>
        <li class="active"><span>{{number.brand}}</span></li>
    </ol>
    <div class="container">
        <div class="row product">
            <div class="col-md-7 col-md-offset-0 col-sm-offset-0">

{% include 'test.html' %}

{% block content %}
{% endblock %}
<script>
    var photos = document.querySelectorAll(".sub-photo");
    var mainPhotos = document.querySelectorAll(".main-photo");

    var activePhoto = "";

    [].forEach.call(mainPhotos, function(photo) {
      if (photo.className.indexOf("active")>-1) {
        activePhoto = photo;
      }
    });

    [].forEach.call(photos, function(photo) {
      photo.addEventListener("mouseover", function() {
         var clicked=photo.id;
        clicked = "lg-" + clicked.split("-")[1];
        activePhoto.classList.remove("active");
        activePhoto = document.getElementById(clicked);
        activePhoto.classList.add("active");
      });
    });
</script>
            </div>
            <div class="col-lg-offset-0 col-md-5 col-md-offset-1">
                <div class="row">
                    <!-- <div class="col-lg-4 col-md-4"><img class="hidden-xs hidden-sm" src="../../static/assets/img/adidas-logo.jpg" width="100%"></div> -->
                    <div class="col-md-8">
                        <h2>{{number.product_Name}}</h2>
                        <p>{{number.product_Description}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="size">
                        <h6>SIZE </h6>
                        <select id="select">
                            <option value="" selected="">Chose Your Size</option>
                            <option value="6">Size 6 <p>remain {{number.size_06}}</p></option>
                            <option value="6.5">Size 6.5 <p>remain {{number.size_06_5}}</p></option>
                            <option value="7">Size 7 <p>remain {{number.size_07}}</p></option>
                            <option value="7.5">Size 7.5 <p>remain {{number.size_07_5}}</p></option>
                            <option value="8">Size 8 <p>remain {{number.size_08}}</p></option>
                            <option value="8.5">Size 8.5 <p>remain {{number.size_08_5}}</p></option>
                            <option value="9">Size 9 <p>remain {{number.size_09}}</p></option>
                            <option value="9.5">Size 9.5 <p>remain {{number.size_09_5}}</p></option>
                            <option value="10">Size 10 <p>remain {{number.size_10}}</p></option>
                            <option value="10.5">Size 10.5 <p>remain {{number.size_10_5}}</p></option>
                            <option value="11">Size 11 <p>remain {{number.size_11}}</p></option>
                            <option value="11.5">Size 11.5 <p>remain {{number.size_11_5}}</p></option>
                            <option value="12">Size 12 <p>remain {{number.size_12}}</p></option>
                            <option value="12.5">Size 12.5 <p>remain {{number.size_12_5}}</p></option>
                            <option value="13">Size 13 <p>remain {{number.size_13}}</p></option>
                            <option value="13.5">Size 13.5 <p>remain {{number.size_13_5}}</p></option>
                        </select>
                    </div>
                    <div class="col-md-12" id="price">
                        <h6>PRICE </h6>
                        <h3>$ {{number.unit_Price}}</h3></div>
                </div>
                <button class="btn btn-danger" type="button" id="addcart">Add to cart</button>
                <h3>Product Details</h3>
                <p>{{number.product_Description}} </p>
            </div>
        </div>
    </div>
    <footer>
        <div class="row">
            <div class="col-md-4 col-sm-6 footer-navigation">
                <h3><a href="#">SAS Sneakers Shoes</a></h3>
                <p class="links"><a href="#">Home</a><strong> · </strong><a href="#">Blog</a><strong> · </strong><a href="#">Pricing</a><strong> · </strong><a href="#">About</a><strong> · </strong><a href="#">Faq</a><strong> · </strong><a href="#">Contact</a></p>
                <p class="company-name">Company Name © 2017 </p>
            </div>
            <div class="col-md-4 col-sm-6 footer-contacts">
                <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                    <p><span class="new-line-span">Kasetsart University</span> Bkk, Thailand</p>
                </div>
                <div><i class="fa fa-phone footer-contacts-icon"></i>
                    <p class="footer-center-info email text-left"> +1 555 123456</p>
                </div>
                <div><i class="fa fa-envelope footer-contacts-icon"></i>
                    <p> <a href="#" target="_blank">support@company.com</a></p>
                </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-4 footer-about">
                <h4>About the company</h4>
                <p>Just a software engineering project ;)</p>
                <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
            </div>
        </div>
    </footer>
    <script src="../../static/assets/js/jquery.min.js"></script>
    <script src="../../static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>