{% block content %}

<div class='section'>
    {% for p in path %}
    {% if p.product_ID == number %}
    {% if pic_format == 4 %}
    <div class='photos inline'>
      <img class='main-photo active' id='lg-1' src='../../../static/assets/img{{p.pic1}}'>
      <img class='main-photo' id='lg-2' src='../../../static/assets/img{{p.pic2}}'>
      <img class='main-photo' id='lg-3' src='../../../static/assets/img{{p.pic3}}'>
      <img class='main-photo' id='lg-4' src='../../../static/assets/img{{p.pic4}}'>
      <div class='small-photos' style="margin-top:500px;">
        <div class='sub'>
          <img class='sub-photo' id='sm-1' src='../../../static/assets/img{{p.pic1}}'>
        </div>
        <div class='sub'>
          <img class='sub-photo' id='sm-2' src='../../../static/assets/img{{p.pic2}}'>
        </div>
        <div class='sub'>
          <img class='sub-photo' id='sm-3' src='../../../static/assets/img{{p.pic3}}'>
        </div>
        <div class='sub'>
          <img class='sub-photo' id='sm-4' src='../../../static/assets/img{{p.pic4}}'>
        </div>
      </div>
    </div>
    {% else %}
    {% include 'pic360.html' %}
    {% block allaround %}
    {% endblock %}
    {% endif %}
    {% endif %}
    {% endfor %}
</div>

{% endblock %}